@using fc_flower_2020.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutMain.cshtml";
}

<!-- slider-area start -->
<section class="slider-area">
    <!-- slider start -->
    <div class="slider">
        <div id="mainSlider" class="nivoSlider nevo-slider">
            <img src="~/Assets/img/slider/slider-1.jpg" alt="main slider" />
            <img src="~/Assets/img/slider/slider-2.jpg" alt="main slider" />
            <img src="~/Assets/img/slider/slider-3.jpg" alt="main slider" />
        </div>


    </div>
    <!-- slider end -->
</section>
<!-- slider-area end -->
<!--Start Lateast Collection Top area -->
<div class="body_top_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="feature_text">
                    <h4>Chủ đề hot</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single_image">
                    <a href="/san-pham/chu-de/hoa-tang-me"><img class="banner_home1" src="~/Assets/img/collection-image/banner-2.jpg" alt="" /></a>
                    <div class="banner_text">
                        <h2><a>Hoa tặng mẹ</a></h2>
                    </div>
                    <div class="shop_collection">
                        <a href="/san-pham/chu-de/hoa-tang-me">Xem chi tiết <span><img src="~/Assets/img/arrow/bkg_newsletter.png" alt="" /></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="single_image">
                    <a href="/san-pham/mau-sac/mau-hong"><img class="banner_home1" src="~/Assets/img/collection-image/banner-1.jpg" alt="" /></a>
                    <div class="banner_text">
                        <h2><a>Hoa Tình Yêu</a></h2>
                    </div>
                    <div class="shop_collection">
                        <a href="/san-pham/mau-sac/mau-hong">Xem chi tiết <span><img src="~/Assets/img/arrow/bkg_newsletter.png" alt="" /></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Lateast Collection Top area -->
<!--Start Lateast Collection bottom area -->
<div class="banner_area">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single_image">
                    <a href="/san-pham/chu-de/hoa-tang-sinh-nhat"><img class="banner_home1" src="~/Assets/img/collection-image/banner-11.jpg" alt="" /></a>
                    <div class="banner_text">
                        <h3><a>Hoa sinh nhật</a></h3>
                    </div>
                    <div class="shop_collection">
                        <a href="/san-pham/chu-de/hoa-tang-sinh-nhat">Xem chi tiết <span><img src="~/Assets/img/arrow/bkg_newsletter.png" alt="" /></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single_image">
                    <a href="/san-pham/chu-de/hoa-trang-tri-tiec"><img class="banner_home1" src="~/Assets/img/collection-image/banner-12.jpg" alt="" /></a>
                    <div class="banner_text">
                        <h3><a>Hoa Sự Kiện</a></h3>
                    </div>
                    <div class="shop_collection">
                        <a href="/san-pham/chu-de/hoa-trang-tri-tiec">Xem Chi Tiết <span><img src="~/Assets/img/arrow/bkg_newsletter.png" alt="" /></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="single_image">
                    <a href="/san-pham/chu-de/hoa-tuoi"><img class="banner_home1" src="~/Assets/img/collection-image/banner-13.jpg" alt="" /></a>
                    <div class="banner_text">
                        <h3><a>Hoa Tươi</a></h3>
                    </div>
                    <div class="shop_collection">
                        <a href="/san-pham/chu-de/hoa-tuoi">Xem Chi Tiết <span><img src="~/Assets/img/arrow/bkg_newsletter.png" alt="" /></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Lateast Collection bottom area -->
<!--Start Feature area -->
<div id="homepage" class="feature_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="feature_text">
                    <h4>Hoa Mới Về</h4>
                </div>
            </div>
        </div>
        @{ List<MyDataBase.Hoa> hoaMois = (List<MyDataBase.Hoa>)ViewBag.ProductNew;}
        <div class="row product-margin">
            @for (int j = 0; j < 4; j++)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="single_product">
                            <a href="/chi-tiet-san-pham/@hoaMois[j].ma_hoa" target="main"><img src="~/@(hoaMois[j].hinh_anh)" alt="" /></a>
                            <div class="product_details">
                                <div class="title">@hoaMois[j].tieu_de</div>
                                <div class="price">
                                    @{ if ((int)hoaMois[j].gia_cu != 0)
                                        {
                                            <span class="regular_price">@(Utils.toCurrency((int)hoaMois[j].gia_cu))</span>
                                        }
                                    }

                                    <span class="popular_price">@(Utils.toCurrency((int)hoaMois[j].gia_moi))</span>
                                </div>
                            </div>
                            <div class="product_detail">

                                <div  class="product_button">
                                    <div class="cart_details">
                                        <input type="hidden" class="msp-ajax" value="@hoaMois[j].ma_hoa">
                                        <a class="add-cart-flower a-blank">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <span id="ctl00_cphContent_ucKeywordItems_ucItems_rptItems_ctl03_lblNew"
                                  class="ibadge inew"></span>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="row product-margin">
            @for (int j = 4; j < 8; j++)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="single_product">
                            <a href="/chi-tiet-san-pham/@hoaMois[j].ma_hoa" target="main"><img src="~/@(hoaMois[j].hinh_anh)" alt="" /></a>
                            <div class="product_details">
                                <div class="title">@hoaMois[j].tieu_de</div>
                                <div class="price">
                                    <span class="regular_price">@(Utils.toCurrency((int)hoaMois[j].gia_cu))</span>
                                    <span class="popular_price">@(Utils.toCurrency((int)hoaMois[j].gia_moi))</span>
                                </div>
                            </div>
                            <div class="product_detail">

                                <div class="product_button">
                                    <div class="cart_details">
                                        <input type="hidden" class="msp-ajax" value="@hoaMois[j].ma_hoa">
                                        <a class="add-cart-flower a-blank">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <span id="ctl00_cphContent_ucKeywordItems_ucItems_rptItems_ctl03_lblNew"
                                  class="ibadge inew"></span>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="row hoakhuyenmai">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="feature_text">
                    <h4>Hoa Khuyến Mại</h4>
                </div>
            </div>
        </div>
        @{ List<MyDataBase.Hoa> hoaKhuyenMais = (List<MyDataBase.Hoa>)ViewBag.ProductSale;}
        <div class="row product-margin">
            @for (int j = 0; j < 4; j++)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="single_product">
                            <a href="/chi-tiet-san-pham/@hoaKhuyenMais[j].ma_hoa" target="main"><img src="~/@(hoaKhuyenMais[j].hinh_anh)" alt="" /></a>
                            <div class="product_details">
                                <div class="title">@hoaKhuyenMais[j].tieu_de</div>
                                <div class="price">
                                    <span class="regular_price">@(Utils.toCurrency((int)hoaKhuyenMais[j].gia_cu))</span>
                                    <span class="popular_price">@(Utils.toCurrency((int)hoaKhuyenMais[j].gia_moi))</span>
                                </div>
                            </div>
                            <div class="product_detail">

                                <div class="product_button">
                                    <div class="cart_details">
                                        <input type="hidden" class="msp-ajax" value="@hoaKhuyenMais[j].ma_hoa">
                                        <a class="add-cart-flower a-blank">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <span id="ctl00_cphContent_ucKeywordItems_ucItems_rptItems_ctl01_lblSale"
                                  class="ibadge isale">Sale</span>
                        </div>
                    </div>
                </div>

            }
        </div>
        <div class="row product-margin">
            @for (int j = 4; j < 8; j++)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="product_list">
                        <div class="single_product">
                            <a href="/chi-tiet-san-pham/@hoaKhuyenMais[j].ma_hoa" target="main"><img src="~/@(hoaKhuyenMais[j].hinh_anh)" alt="" /></a>
                            <div class="product_details">
                                <div class="title">@hoaKhuyenMais[j].tieu_de</div>
                                <div class="price">
                                    <span class="regular_price">@(Utils.toCurrency((int)hoaKhuyenMais[j].gia_cu))</span>
                                    <span class="popular_price">@(Utils.toCurrency((int)hoaKhuyenMais[j].gia_moi))</span>
                                </div>
                            </div>
                            <div class="product_detail">

                                <div class="product_button">
                                    <div class="cart_details">
                                        <input type="hidden" class="msp-ajax" value="@hoaKhuyenMais[j].ma_hoa">
                                        <a class="add-cart-flower a-blank">Thêm vào giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                            <span id="ctl00_cphContent_ucKeywordItems_ucItems_rptItems_ctl01_lblSale"
                                  class="ibadge isale">Sale</span>
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="more_feature_area">
                    <h2><a href="#">Tải thêm...</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Feature area -->
<!--Start Testimonila area -->
<div class="carousel_testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial_list">
                    <div class="testimonial_single">
                        <a href="#">
                            Hoa là tặng vật của thiên nhiên ban tặng cho con người. Mỗi loài hoa với đủ sắc
                            màu như: Trắng, đỏ, vàng, tím, hồng… luôn là một thứ ngôn ngữ nói với chúng ta bao điều
                            thầm kín. Thưởng thức hoa không phải chỉ người giầu sang, phú quí, mới có thể chiêm
                            ngưỡng được, mà người bình thường cũng có quyền thưởng ngoạn vẻ đẹp huyền diệu của mỗi
                            loài hoa.
                        </a>
                        <p>Google</p>
                        <div class="author">
                            <img src="~/Assets/img/author/avatar.png" alt="" />
                        </div>
                    </div>
                    <div class="testimonial_single">
                        <a href="#">
                            Hoa tươi vốn là món quà vô cùng ý nghĩa và tình cảm. Tuy nhiên, việc lựa chọn
                            lựa loài hoa phù hợp và ý nghĩa nhất thì chưa hẳn ai nào cũng nắm được. Mỗi một loài hoa
                            mang mỗi ý nghĩa khác nhau sẽ giúp bạn gửi đến những người thân yêu của mình những lời
                            yêu thương ý nghĩa nhất.
                        </a>
                        <p>Google</p>
                        <div class="author">
                            <img src="~/Assets/img/author/avatar.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Testimonila area -->
<!--Start Contact info area -->
<div class="service_info_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service_list">
                    <h2><i class="fa fa-envelope-o"></i> fcflower@gmail.com</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service_list">
                    <h3><i class="fa fa-phone"></i> (+1223) 334 3434</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="Social_list">
                    <h2>Liên hệ: </h2>
                    <div class="social_icon my-class uk-scrollspy-init-inview uk-invisible">
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Like 6k"
                           class="red-tooltip" href="#"><i class="fa fa-facebook"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Followers 61k"
                           class="red-tooltip" href="#"><i class="fa fa-twitter"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Followers 16k"
                           class="red-tooltip" href="#"><i class="fa fa-linkedin"></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Followers 10k"
                           class="red-tooltip" href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Contact info area -->
